@page
@model Argent.Web.Pages.Workflows.IndexModel
@{
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var wf in @Model.Defs)
        {

        }
    </table>
}
