html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bpmn-shape {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.1));
    cursor: move;
}

.bpmn-text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    pointer-events: none;
}

.bpmn-node:hover {
    stroke-width: 3px;
}


.node-item {
    cursor: grab;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

    .node-item:hover {
        background-color: #fff;
        border-color: #dee2e6;
        box-shadow: 0 4px 6px rgba(0,0,0,0.05);
        transform: translateY(-1px);
    }

    .node-item:active {
        cursor: grabbing;
    }

/* Make the icon wrapper look like the actual node shape */
.node-icon-wrapper {
    transition: transform 0.2s ease;
}

.node-item:hover .node-icon-wrapper {
    transform: scale(1.1);
    color: #0d6efd;
}

/* Custom Scrollbar for the toolbox */
.accordion::-webkit-scrollbar {
    width: 5px;
}

.accordion::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.node circle {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transform-box: fill-box;
    /* Ensure transition is here so it animates when .node-selected is REMOVED */
    transition: all 0.2s ease-in;
    fill: #0d6efd;
    stroke: white;
    stroke-width: 1.5px;
    pointer-events: none; /* Can't click them while they are hidden */
}

/* Selected State (The "Entry" animation happens here) */
.node-selected circle {
    opacity: 1;
    transform: scale(1);
    pointer-events: all; /* Enable clicking */
    /* Use the bouncier transition for the "Pop" in */
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Hover State */
.node-selected circle:hover {
    fill: #00d2ff;
    transform: scale(1.4);
    transition: all 0.1s ease-out; /* Fast response for hover */
}

.is-interacting circle{
    transition:0s!important;
}

.canvas-container svg {
    user-select: none;
    -webkit-user-select: none;
    touch-action: none; /* CRITICAL: Stops browser from hijacking touch for scrolling/zooming */
}

/* Ensure handles don't show a 'text' cursor */
.node rect[style*="cursor"] {
    user-select: none;
    pointer-events: all;
}