@page "/Admin/Groups/Create"
@using Argent.WebComponents.Authorization
@model Argent.Web.Pages.Admin.Groups.CreateModel
@{
    ViewData["Title"] = "Create Group";
}

<div class="container py-4" style="max-width: 720px;">
    <a href="/Admin/Groups" class="btn btn-outline-secondary btn-sm mb-3">&larr; Back to Groups</a>
    <component type="typeof(GroupEditor)" render-mode="ServerPrerendered" />
</div>
