@using System.Text.Json
@using Argent.Contracts.Forms
@using Argent.Models.Forms.Components
@using Argent.Contracts
@using Argent.Models.Forms.Components.Base
@inject IFormComponentRegistry Registry
@inject IFormContext Context

@if (_rootMetadata is not null)
{
    <CascadingValue Value="Context">
        @{
            var componentType = Registry.Resolve(_rootMetadata.Type);
            <div>
                <DynamicComponent Type="componentType" Parameters="_parameters" />
                @if (_rootMetadata is FormInputComponent input && Context.GetErrors(input).Count() > 0)
                {
                    @foreach (var error in Context.GetErrors(input))
                    {
                        <span class="text-danger">@error</span>
                    }

                }
            </div>
        }
    </CascadingValue>
}
else if (!string.IsNullOrEmpty(JsonConfig))
{
    <div class="alert alert-danger">Failed to parse JSON Config</div>
}

@code {
    [Parameter] public string? JsonConfig { get; set; }
    [Parameter] public FormComponent? Metadata { get; set; }

    private FormComponent? _rootMetadata;
    private Dictionary<string, object> _parameters = new();

    protected override void OnParametersSet()
    {
        _rootMetadata = Metadata ?? (string.IsNullOrEmpty(JsonConfig)
            ? null
            : JsonSerializer.Deserialize<FormComponent>(JsonConfig, new JsonSerializerOptions { PropertyNameCaseInsensitive = true }));

        if (_rootMetadata != null)
        {
            _parameters = new Dictionary<string, object> { { "Metadata", _rootMetadata } };
        }
    }
}