@using Argent.WebComponents
@inherits FormLayoutComponentBase

<div class="@Metadata.CssClass">
    @((MarkupString)Html)
</div>

@code {
    private string Html => Metadata.Html ?? Metadata.Title ?? "";
}