@using Argent.Contracts.Forms
@using Argent.Models.DomainObjects
@using Argent.WebComponents.Core.Forms
@inject IFormContext Context

@if (FormId.HasValue)
{
    <ArgentForm FormId="@FormId.Value" RecordId="@RecordId" OnValidSubmit="HandleSubmit" />
}
else
{
    <div class="alert alert-warning">No form is bound to this task.</div>
}

@code {
    [Parameter] public Guid? FormId { get; set; }
    [Parameter] public Guid? RecordId { get; set; }
    [Parameter] public string? UserId { get; set; }

    [Parameter] public EventCallback<DomainRecord> OnSubmit { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(UserId))
            Context.UserId = UserId;
    }

    private async Task HandleSubmit(DomainRecord record)
    {
        if (OnSubmit.HasDelegate)
            await OnSubmit.InvokeAsync(record);
    }
}
