@using Argent.WebComponents
@inherits FormComponentBase

@if (IsVisible)
{
    <div class="mb-3 @Metadata.Layout.CssClass">
        <label class="form-label">@Metadata.Label</label>
        <input type="text"
               class="form-control"
               value="@CurrentValue"
               @oninput="(e) => OnValueChanged(e.Value)"
               placeholder="@Metadata.Description" />
    </div>
}

@code {
    private string? CurrentValue => Context.GetValue<string>(Metadata.DataKey ?? Metadata.Id);

    private void OnValueChanged(object? val)
    {
        Context.SetValue(Metadata.DataKey ?? Metadata.Id, val?.ToString());
    }
}