@page "/Forms/Live/{id:guid}"
@using Argent.WebComponents.Core.Forms
@model Argent.Web.Pages.Forms.LiveModel
@{
    ViewData["Title"] = Model.FormName;
}

<div class="max-w-2xl mx-auto">
    <div class="card">
        <div class="p-5">
            <component type="typeof(ArgentForm)" render-mode="ServerPrerendered"
                       param-FormId="@Model.Id" />
        </div>
    </div>
</div>
